{% extends 'index.html' %}

{% block content %}
    <div class="center-div">
        <h1>Регистрация пользователя</h1>
        <form action="" method="post" class="form">
            {% csrf_token %}
            <table class="vertical-table head-left">
                {% for i in regform %}
                    <tr>
                        <td>{{ i.label_tag }}</td>
                        <td>{{ i }}</td>
                        {{ i.errors }}
                    </tr>
                {% endfor %}
            </table>
            <input type="submit" value="Отправить">
        </form>
    </div>
{% endblock content %}